@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
}

.main {
   
    height: 100vh; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url("../Imgs/img2.png");
    background-size: cover;

}



.navbar{
    background-color: rgba(0, 0, 0, 0.7);
    height: 80px;
    width: 100%;
    
}


label.logo {
    color:#ff7200; 
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }


ul{

    float: right;
    margin-right: 20px;
}

ul li{

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

ul li a{

    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

ul li a:hover{
    color: #ff7200;
}


.btn:focus{
    outline: none;
}
  
/* 
  Set up appointment css  */
   .heading_container h2 { 
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0 10px;
    color:#ff7200; 
  }
  
  .heading_container.heading_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

.contact_section {
    position: relative;
    color: #ffffff;
  }
  
  .contact_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .contact_section .contact_form-container {
    /* margin-top: 35px; */
    margin: auto; /* Center the form */
    max-width: 600px; /* Set maximum width for the form */
    padding: 20px; /* Add some padding */
  }
  
  .contact_section .contact_form-container input {
    border: none;
    outline: none;
    color: #fefefe;
    height: 35px;    /* Size of appointment table*/
    width: 100%;
    margin: 15px 0;
    padding-left: 15px;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    font-size: 15px;
  }
  
  .contact_section .contact_form-container input::-webkit-input-placeholder {
    color: #fafafa;
    text-transform: uppercase;
  }
  
  .contact_section .contact_form-container input:-ms-input-placeholder {
    color: #fafafa;
    text-transform: uppercase;
  }
  
  .contact_section .contact_form-container input::-ms-input-placeholder {
    color: #fafafa;
    text-transform: uppercase;
  }
  
  .contact_section .contact_form-container input::placeholder {
    color: #fafafa;
    text-transform: uppercase;
  }
  
  .contact_section .contact_form-container input.message_input {
    height: 75px;
  }
  
  .contact_section .contact_form-container input:focus {
    border-bottom: 1px solid #ff7200;
  }
  
  .contact_section .contact_form-container input[type="date"]::-webkit-calendar-picker-indicator,
  .contact_section .contact_form-container input[type="time"]::-webkit-calendar-picker-indicator {
    color: #fff;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  
  .contact_section .contact_form-container .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
  
  .contact_section .contact_form-container button {
    display: inline-block;
    padding: 10px 60px;
    background-color: #ff7200;
    color: #ffffff;
    border-radius: 5px;
    border: 3px solid #ff7200;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  .contact_section .contact_form-container button:hover {
    background-color: transparent;
    color: #ff7200;
  }
  


footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsiveness  */

.checkbtn {
    font-size: 22px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  @media (max-width: 1050px) {
    label.logo {
      padding-left: 30px;
    }
    .navbar ul li a {
      font-size: 16px;
    }
  }
  /* Responsive media query code for small screen */
  @media (max-width: 890px) {
    .checkbtn {
      display: block;
    }
    label.logo {
      font-size: 22px;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .navbar ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    .navbar ul li a {
      font-size: 20px;
    }
    a:hover,
    a.active {
      background: none;
      color: #0082e6;
    }
    #check:checked~ul {
      left: 0;
    }
  }